{% extends "main_content/default.html" %}

{% load i18n %}

{% block search_robots %}
<meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block media %}
{{block.super}}
{{ map.media }}

<script type="text/javascript">
    function size_map() {
        $('.mapwidget').height(($(window).height() -
            $('#header').outerHeight() - $('#main_header').outerHeight()) -
            $('#content_header').outerHeight() -
            $('#content_footer').outerHeight() -
            ($('#content_wrapper').outerHeight() - $('#content').outerHeight())
        ).width($('.mapwidget').parent().width() - $('#results_pane:visible').outerWidth());
        $("#results_pane").height($('.mapwidget').height());
    }
    $(window).resize(size_map);
    $(document).ready(function() {
        SaplingMap.add_map_button();
    });
</script>
{% endblock %}

{% block title %}{% trans "Communities - LocalWiki" %}{% endblock %}

{% block everything_wrapper %}
  <div class="full_map">
    {{ block.super }}
  </div>
{% endblock %}

{% block header_bar_wrapper %}
{% endblock %}

{% block content_wrapper %}
  <div id="map">
  {{ map }}
  </div>
{% endblock %}
