{% extends "main_content/default.html" %}

{% load i18n %}
{% load cards_tags %}

{% block media %}{{block.super}}{{ map.media }}<script type="text/javascript">SaplingMap.show_links_on_hover = false;</script>{% endblock %}

{% block title %}{% trans "Communities - LocalWiki" %}{% endblock %}

{% block everything_wrapper %}
  <div id="region_explore_page" class="fixed_header">
    {{ block.super }}
  </div>
{% endblock %}

{% block header_bar_wrapper %}
{% endblock %}

{% block main_wrapper %}
  {{ map.media }}
  <div id="map">
    {{ map }}
  </div>    
  {{ block.super }}
{% endblock %}

{% block content %}
  <div class="site_search search">{% include "site/search_form.html" %}</div>

  <div class="cards">
    {% for region in regions %}
      {% show_card region %}
    {% endfor %}
  </div>
  <p><a href="{% url 'regions:add' %}" class="button">Add region</a></p>
{% endblock %}

{% block header_title %}{% trans "Explore Communities" %}{% endblock %}
