{% comment %}
SECURITY NOTE:

If you inherit from .e.g site/base.html here, you need to be **VERY** careful that certain conditions
don't cause the {% phased %} tag to leak secret information.

It's best to just leave this as a 100% static page.

If we need to customize this, do it by hand using *no* Django tags.
{% endcomment %}

<html>
<head>
  <title>Server error</title>
</head>
<body>
 <p>Looks like something went wrong and we're unable to display the page you requested.</p>
 <p>Please try again in a few minutes.</p>
</body>
</html>
