{% extends "crap_events/base.html" %}
{% load i18n %}

{% block title %}{% trans "Events Board" %} - {{ block.super }}{% endblock %}
{% block header_title %}{% trans "Events Board" %}{% endblock %}

{% block media %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery-1.7.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery-ui-1.8.16.custom.min.js"></script>
{% endblock %}

{% block content %}
<form method="post" action="">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add Event"/>
</form>
{% endblock %}
