{% extends "crap_events/base.html" %}
{% load i18n %}

{% block title %}{% trans "Events Board" %} - {{ block.super }}{% endblock %}
{% block header_title %}{% trans "Events Board" %}{% endblock %}

{% block content %}
{% for day, events in events_by_day %}
    <h2>{{ day|date:"l, F j" }}</h2>
    {% for event in events %}
        <div class="event">
            <h3>{{ event.title }}</h3>
            {% if request.user.is_staff %}<div><a class="button tiny" href="/admin/crap_events/event/{{ event.id }}/">edit</a></div><div style="clear:both;"></div>{% endif %}
            <div class="time"><span>{% trans "Time:" %}</span> {{ event.time_start }}</div>
            <div class="location"><span>{% trans "Location:" %}</span> {{ event.location }}</div>
            <div class="descripton">{{ event.description|safe }}</div>
            <div class="posted_by">(Posted by {{ event.user_link|safe }})</div>
        </div>
    {% endfor %}
    <hr/>
{% endfor %}

<div id="add_event" class="dialog">
    <h2>{% trans "Post a new event" %}</h2>
    <p><a class="button" href="{% url events:list %}/_new">Add Event</a></p>
</div>
{% endblock %}
