{% load i18n %}
{% if versions_list %}
<form method="GET" action="compare" name="compare_form" id="compare_form">
<table>
  <thead>
    <tr>
      <td colspan="100%">
        <input type="submit" value="{% trans 'Compare' %}">
      </td>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="100%">
        <input type="submit" value="{% trans 'Compare' %}">
      </td>
    </tr>
  </tfoot>
  <tbody>
  {% include "versionutils/history/form_page.html" %}
  </tbody>
</table>
</form>
{% else %}
{% trans "There is no revision history." %}
{% endif %}
