{% load i18n %}
{% if versions_list %}
<form method="GET" action="compare" name="compare_form" id="compare_form">
<table>
  <thead>
    <tr>
      <td colspan="100%">
        <input type="submit" value="{% trans 'Compare' %}">
      </td>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="100%">
        <input type="submit" value="{% trans 'Compare' %}">
      </td>
    </tr>
  </tfoot>
  <tbody>

{% for vitem in versions_list %}
   <tr>
     <td>
       <label for="id_version_{{ forloop.revcounter }}">
       <span class="version_checkbox">
         {% if vitem.version_info.type_verbose == 'Deleted' or vitem.version_info.type == 'Reverted/Deleted' or vitem.version_info.type == 'Reverted/Deleted via cascade' %}
         &nbsp;
         {% else %}
         <input type="checkbox" name="version" value="{{ forloop.revcounter }}" id="id_version_{{ forloop.revcounter }}"/>
       {% endif %}
       </span>
       {# We assume a standard url format here. #}
       <a href="{{ forloop.revcounter }}" class="date" rel="nofollow">{{ vitem.version_info.date }}</a>
       {% block type_and_by %}
       <span class="type_and_by">{% with vitem.version_info.type_verbose as type %}{% trans type %}{% endwith %} {% trans "by" %} {{ vitem.version_info.user_link|safe }}</span>
       {% endblock %}
       <span class="comment">{% block version_info_extras %}{% endblock %}</span>
       </label>
     </td>
   </tr>
{% endfor %}
  </tbody>
</table>
</form>
{% else %}
{% trans "There is no revision history." %}
{% endif %}
