{% extends "site/base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load phased_tags %}

{% comment %}
{% block head_extra %}{% if page %}<link rel="alternate" href="{% url 'pages:changes-feed' slug=page.pretty_slug region=page.region.slug %}" type="application/rss+xml" title="{% trans "Recent changes on this Page" %}"/>{% endif %}{% endblock %}
{% endcomment %} 

{% block media %}
  {{ block.super }}
  {% if form %}{{ form.media }}{% endif %}
{% endblock %}

{% block header_title %}
  {% if page %}
    <a href="{% url 'pages:show' slug=page.pretty_slug region=page.region.slug %}">{{ page.name }}</a>
  {% endif %}
{% endblock %}

{% block main %}
{{ block.super }}
{% endblock %}

{% block object_actions %}
  <ul>
    {% if page %}
        <li><a href="{% url 'pages:edit' slug=page.pretty_slug region=page.region.slug %}" rel="nofollow" class="button">{% trans "Edit" %}</a></li>
        <li><a href="{% url 'pages:history' slug=page.pretty_slug region=page.region.slug %}" rel="nofollow" class="button">{% trans "Info" %}</a></li>
    {% endif %}
  </ul>
{% endblock %}

{% block header_bar_inner %}
  {% block follow_area %}
    {% include "pages/follow_area.html" %} 
  {% endblock %}
  {{ block.super }}
{% endblock %}

{% block attributions %}
  {{ block.super }}
  {% if map %}
    {% include "maps/attribution.html" %}
  {% endif %}
{% endblock %}
