{% extends "site/base.html" %} {% load i18n %}
{% load static from staticfiles %}

{% block head_extra %}{% if page %}<link rel="alternate" href="{% url pages:changes-feed slug=page.pretty_slug %}" type="application/rss+xml" title="{% trans "Recent changes on this Page" %}"/>{% endif %}{% endblock %}
  
{% block media %}
{{ block.super }}
<link rel="stylesheet" href="{% static "theme/pages/css/pages.css" %}">
{% if form %}{{ form.media }}{% endif %}
<script type="text/javascript" src="{% static "js/jquery/jquery-1.7.min.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#annotate').click(function() {
            // aaahhhhrhughhh
            var s = document.createElement("script");
            s.type = 'text/javascript';
            s.src = 'https://dev.hypothes.is/app/embed.js';
            $('head')[0].appendChild(s);
            setTimeout(function() {
                annotator.addToken('{{ annotation_token }}');
            }, 2000);
        });
    });
</script>
{% endblock %}

{% block header_title %}
  {% if page %}
    <a href="{% url pages:show slug=page.pretty_slug %}">{{ page.name }}</a>
  {% endif %}
{% endblock %}

{% block main %}
{{ block.super }}
{% endblock %}

{% block object_actions %}
  <ul>
    {% if page %}
        <li><a href="{% url pages:edit slug=page.pretty_slug %}" class="button">{% trans "Edit" %}</a></li>
        <li><a href="{% url pages:history slug=page.pretty_slug %}" class="button">{% trans "Info" %}</a></li>
        <li><a href="#" id="annotate" class="button">{% trans "Annotate" %}</a></li>
    {% endif %}
  </ul>
{% endblock %}

{% block attributions %}
  {{ block.super }}
  {% if map %}
    {% include "maps/attribution.html" %}
  {% endif %}
{% endblock %}
