{% extends "pages/base.html" %}
{% load i18n %}

{% block title %}{% trans "Page not found" %}{% endblock %}
{% block header_title %}{% blocktrans with name=page.name %}Page "{{ name }}" does not exist (yet!){% endblocktrans %}{% endblock %}

{% block search_robots %}
<meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block content %}
{% load pages_tags %}
  {% if page_templates %}
    <div class="templates">
      <p>{% trans "Create a new page using one of these templates:" %}</p>
      <ul>
        {% for template in page_templates %}
          <li><a href="{% url pages:edit slug=page.pretty_slug %}?template={{template.slug}}" class="little button">{% blocktrans with name=template.name_parts.1 %}Create {{name}} page{% endblocktrans %}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <div id="create_page">
    <p>
      {% trans "Or start with a clean slate:" %}
    </p>
    <a href="{% url pages:edit slug=page.pretty_slug %}" class="button">{% trans "Create blank page" %}</a>
  </div>
{% endblock %}
