{% extends "maps/mapdata_list.html" %}

{% load i18n %}

{% block search_robots %}
<meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block header_title %}
   {% trans "Search results for" %}
   {% if region %}
     <a href="{% url 'haystack_search' region=region.slug %}?{{ request.GET.urlencode }}">"{{ query }}"</a>
   {% else %}
     <a href="{% url 'global_search' %}?{{ request.GET.urlencode }}">"{{ query }}"</a>
   {% endif %}
{% endblock %}

{% block object_actions %}
<ul>
   {% if page.has_previous or page.has_next %}
     <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}" class="button">&laquo; {% trans "Previous" %}</a>
   {% endif %}
   {% if page.has_next %}
     <a href="?q={{ query }}&amp;page={{ page.next_page_number }}" class="button">{% trans "Next" %} &raquo;</a>
   {% endif %}
</ul>
{% endblock %}

{% block title %}
   {% trans "Search results for" %} "{{ query }}" - {{ block.super }}
{% endblock %}

{% block content %}
    {{ map }}
{% endblock %}
