{% load phased_tags %}
<div class="comments_section">
<h2>{{ title }}</h2>
{% phased with page form %}
{% load i18n %}

{% if request.user.is_authenticated %}
    {{ form.errors }}
    <form method="post" action="{% url 'comments:add' slug=page.slug region=page.region.slug %}">{% csrf_token %}
        {{ form.content }}
        <p><input class="button" type="submit" value="{% trans "Add Comment" %}"/></p>
    </form>
{% else %}
  {% url 'auth_login' as login_url %}
    <p>{% blocktrans %}You must be logged in to comment on this page.  Please <a href="{{ login_url }}?next=//{{ request.get_host }}{{ request.path }}" rel="nofollow">log in</a>.{% endblocktrans %}</p>
{% endif %}
{% endphased %}
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('.comments_section textarea').autosize();
    });
</script>
<div style="clear: both;"></div>
