{% load i18n %}

{% if request.user.is_authenticated %}
<li><a href="{% url 'main-page' %}">{% trans "News Feed" %}</a></li>
{% endif %}
<li class="hide4"><a href="{% url 'regions:list' %}">{% trans "Explore" %}</a></li>
<li class="hide3"><a href="{% url 'pages:show' slug='About' region='main' %}">{% trans "About" %}</a></li>
<li class="hide2"><a href="{% url 'blog_index' %}">{% trans "Blog" %}</a></li>
<li class="hide1"><a href="/donate/">{% trans "Donate" %}</a></li>
<li class="hide1"><a href="API">{% trans "API" %}</a></li>
<li><a href="{% url 'pages:show' slug='Front Page' region='main' %}">{% trans "Help" %}</a></li>
