{% load i18n %}

{% if not region %}
<div id="nav" class="common_nav">
  <a href="#" id="pull"></a>
{% else %}
<div class="common_nav">
{% endif %}
  <ul>
    {% if request.user.is_authenticated %}
    <li class="hide5"><a href="{% url 'main-page' %}">{% trans "News Feed" %}</a></li>
    {% endif %}
    <li class="hide5"><a href="{% url 'regions:list' %}">{% trans "Explore" %}</a></li>
    <li class="hide3"><a href="/about/">{% trans "About" %}</a></li>
    <li class="hide2"><a href="{% url 'blog_index' %}">{% trans "Blog" %}</a></li>
    <li class="hide1"><a href="/donate/">{% trans "Donate" %}</a></li>
    <li class="hide1"><a href="/api">{% trans "API" %}</a></li>
    {# TODO: Make this dispatch more general #}
    {% if request.LANGUAGE_CODE == 'ja' %}
    <li class="hide4"><a href="{% url 'pages:show' slug='Front Page' region='main-ja' %}">{% trans "Help" %}</a></li>
    {% else %}
    <li class="hide4"><a href="{% url 'pages:show' slug='Front Page' region='main' %}">{% trans "Help" %}</a></li>
    {% endif %}
  </ul>
</div>
