{# Favicons and touch/mobile icons #}

{% load static %}

{# Tiny and transparent - for browser tabs: #}
{# The following are more like iOS / Android home icons than favicons - larger size: #}
<link rel="icon" type="image/png" href="{% static 'theme/img/favicons/favicon-196x196.png' %}" sizes="196x196" />
<link rel="icon" type="image/png" href="{% static 'theme/img/favicons/favicon-128.png' %}" sizes="128x128" />
<link rel="icon" type="image/png" href="{% static 'theme/img/favicons/favicon-96x96.png' %}" sizes="96x96" />

<link rel="icon" type="image/png" href="{% static 'theme/img/favicons/favicon-32x32.png' %}" sizes="32x32" />
<link rel="icon" type="image/png" href="{% static 'theme/img/favicons/favicon-16x16.png' %}" sizes="16x16" />

<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'theme/img/favicons/apple-touch-icon-57x57.png' %}" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'theme/img/favicons/apple-touch-icon-114x114.png' %}" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'theme/img/favicons/apple-touch-icon-72x72.png' %}" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'theme/img/favicons/apple-touch-icon-144x144.png' %}" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'theme/img/favicons/apple-touch-icon-60x60.png' %}" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'theme/img/favicons/apple-touch-icon-120x120.png' %}" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'theme/img/favicons/apple-touch-icon-76x76.png' %}" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'theme/img/favicons/apple-touch-icon-152x152.png' %}" />

<meta name="msapplication-TileColor" content="#f4f4f4" />
<meta name="application-name" content="LocalWiki"/>
<meta name="msapplication-TileImage" content="{% static 'theme/img/favicons/mstile-144x144.png' %}" />
<meta name="msapplication-square70x70logo" content="{% static 'theme/img/favicons/mstile-70x70.png' %}" />
<meta name="msapplication-square150x150logo" content="{% static 'theme/img/favicons/mstile-150x150.png' %}" />
<meta name="msapplication-wide310x150logo" content="{% static 'theme/img/favicons/mstile-310x150.png' %}" />
<meta name="msapplication-square310x310logo" content="{% static 'theme/img/favicons/mstile-310x310.png' %}" />
