{% load i18n %}

<li><a href="{% url 'explore' region=region.slug %}">{% trans "Explore" %}</a></li>
<li><a href="{% url 'region-activity' region=region.slug %}">{% trans "Activity" %}</a></li>
{% if not region.regionsettings.is_meta_region %}
  <li><a href="{% url 'maps:nearby' region=region.slug %}">{% trans "Near You" %}</a></li>
  <li><a href="{% url 'maps:global' region=region.slug %}">{% trans "Map" %}</a></li>
{% endif %}
{% if is_region_admin %}
<li><a href="{% url 'regions:settings' region=region.slug %}">{% trans "Settings" %}</a></li>
{% endif %}
