{% extends "main_content/base.html" %}

{% load i18n %}
{% load cache %}
{% load cards_tags %}
{% load static %}
{% load thumbnail %}
{% load humanize %}

{% block header_bar_wrapper %}
{% endblock %}

{% block title %}{{ block.super }} - {% trans "The grassroots effort to collect, share and open the world's local knowledge" %}{% endblock %}

{% block head_extra %}
<meta property="og:site_name" content="LocalWiki"/>
<meta property="og:image" content="https://7da2e4f6.ngrok.com{% static 'theme/img/img_fb_share.jpg' %}" />
<meta property="og:title" content="{% trans "Join us and share what you love about where you live." %}"/>
<meta property="og:description" content="{% trans "LocalWiki is a grassroots effort to collect, share and open the world's local knowledge." %}"/>
{% endblock %}

{% block main_wrapper %}
  <div class="callout">
     <div class="tagline">
        <h1>{% blocktrans %}LocalWiki is a grassroots effort to collect, share and <span class="highlight">open the world's local knowledge</span>{% endblocktrans %}</h1>
      </div>
  </div>
  
  <div class="interesting_cards">
      <h2>{% trans "Explore LocalWiki" %}</h2>
      {% cache 300 int_main_regions request.META.HTTP_HOST %}
          <div class="cards">
          {% for region in regions_for_cards %}
            {% show_card region %}
          {% endfor %}
          </div>

          <div class="explore_more">
            <a class="button" href="{% url 'regions:list' %}" target="_blank"><i class="fa fa-globe"></i> {% trans "Explore all communities" %}</a>
          </div>
      {% endcache %}
  </div>

  <div class="bring_localwiki">
      <a href="{% url 'regions:add' %}" class="button">{% trans "Bring LocalWiki to your community" %}</a>
  </div>

  <div class="highlights">
      <div class="item">
        <div>
          <img class="img" src="{{ STATIC_URL }}img/noticeboard_main.jpg" srcset ="{{ STATIC_URL }}img/noticeboard_main@2x.jpg 2x, {{ STATIC_URL }}img/noticeboard_main@1.5x.jpg 1.5x" style="width: 309px; height: 232px;"/>
          <div class="description">
            {# Translators: heading for main home page #}
            <h2>{% trans "A community knowledge commons" %}</h2>
            {# Translators: 'A community knowledge commons' descriptive text for main home page #}
            <p>{% blocktrans %}
What if there was somewhere you could go to learn all about where you live? A place to learn about your <a href="/oakland/Neighborhoods" target="_blank">neighborhoods</a>, about your local <a href="/santacruz/Parks_and_Open_Spaces" target="_blank">parks</a>, about being a <a href="/davis/Parenting" target="_blank">parent in your city</a>, about <a href="/tags/history" target="_blank">history</a>, <a href="/detroit/Detroit_Department_of_Transportation_%28DDOT%29" target="_blank">politics</a> &ndash; anything and everything useful and beautiful about your community. With LocalWiki, everybody has a way to share and learn about where they live.
            {% endblocktrans %}</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div>
          <img class="img" src="{{ STATIC_URL }}img/storytelling.jpg" srcset="{{ STATIC_URL }}img/storytelling@2x.jpg 2x, {{ STATIC_URL }}img/storytelling@1.5x.jpg 1.5x" style="width: 309px; height: 232px;"/>
          <div class="description">
            {# Translators: heading for main home page #}
            <h2>{% trans "A collaborative storytelling tool" %}</h2>
            {# Translators: 'A collaborative storytelling tool' descriptive text for main home page #}
            <p>{% blocktrans %}
            Whether it's knowing about <a href="/sf/Green_Hairstreak_Butterfly_Corridor" target="_blank">butterfly corridors</a> or the history of a <a href="/islavista/Coal_Oil_Point" target="_blank">local beach</a>, everyone holds a piece of the puzzle of what it's like to live in their community. And unlike a news site or a blog, anyone can add and modify LocalWiki pages. LocalWiki lets you and your neighbors tell the story of your community, together.
            {% endblocktrans %}</p>
          </div>
        </div>
      </div>
      <div class="item">
          <div>
            <img class="img" src="{{ STATIC_URL }}img/global_effort.jpg" srcset="{{ STATIC_URL }}img/global_effort@2x.jpg 2x, {{ STATIC_URL }}img/global_effort@1.5x.jpg 1.5x" style="width: 309px; height: 232px;"/>
            <div class="description">
              {# Translators: heading for main home page #}
              <h2>{% trans "A global effort" %}</h2>
              {# Translators: 'A global effort' descriptive text for main home page #}
              <p>{% blocktrans %}
              From <a href="https://ja.localwiki.org/sapporo/" target="_blank">Sapporo, Japan</a> to <a href="/oakland/" target="_blank">Oakland, California</a>, communities across the world use LocalWiki to share their local knowledge. Learn about the issues that affect nearby communities, and communities halfway across the globe. There is a whole world to discover!
              {% endblocktrans %}</p>
            </div>
           </div>
      </div>
      <div class="item">
          <div>
            <img class="img noborder" src="{{ STATIC_URL }}img/cc_main_page.png" srcset="{{ STATIC_URL }}img/cc_main_page@2x.png 2x, {{ STATIC_URL }}img/cc_main_page@1.5x.png 1.5x" style="width: 309px; height: 232px;"/>
            <div class="description">
              {# Translators: heading for main home page #}
              <h2>{% trans "Free, open and non-profit" %}</h2>
              {# Translators: 'Free, open and non-profit' descriptive text for main home page #}
              <p>{% blocktrans %}
              Like a park or a public library, LocalWiki is a public good. LocalWiki is free for anyone to <a href="/main/Copyrights" target="_blank">read, copy and reuse for any purpose</a>, and the backend code powering LocalWiki is open-source. We do not run any advertisements, and we are a 501(c)(3) non-profit organization. You can <a href="https://localwiki.org/donate/" target="_blank">donate to support LocalWiki here</a>.
              {% endblocktrans %}</p>
            </div>
           </div>
      </div>
      <div class="item">
          <div>
            <img class="img" src="{{ STATIC_URL }}img/api_for_city_main.jpg" srcset="{{ STATIC_URL }}img/api_for_city_main@2x.jpg 2x, {{ STATIC_URL }}img/api_for_city_main@1.5x.jpg 1.5x" style="width: 309px; height: 205px;"/>
            <div class="description">
              {# Translators: heading for main home page #}
              <h2>{% trans "An API for your city" %}</h2>
              {# Translators: 'An API for your city' descriptive text for main home page #}
              <p>{% blocktrans %}
            LocalWiki represents a free, universally-accessible collection of the world's local knowledge upon which we hope countless civic and locally-relevant applications will be built. Our <a href="/api/" target="_blank">geospatially-aware, read-write API</a> makes it easy to integrate LocalWiki with your application, or to import useful local data from elsewhere!
              {% endblocktrans %}</p>
            </div>
           </div>
      </div>
      <div class="item">
          <div>
            <img class="img" src="{{ STATIC_URL }}img/page_edit_screenshot.jpg" src="{{ STATIC_URL }}img/page_edit_screenshot@2x.jpg 2x, {{ STATIC_URL }}img/page_edit_screenshot@1.5x.jpg 1.5x" style="width: 309px; height: 211px;"/>
            <div class="description">
              {# Translators: heading for main home page #}
              <h2>{% trans "It's easy!" %}</h2>
              {# Translators: 'It's easy!' descriptive text for main home page #}
              <p>{% blocktrans %}
              Adding to LocalWiki is as easy as making a Facebook post – contributing <a href="/main/Help" target="_blank">requires no technical knowledge</a> or academic background. We have no complicated rules for how to format a page, or even <a href="/main/What_can_I_write_about%3F" target="_blank">what to write about</a>: if it's useful or beautiful to your community, then it's worth sharing!
              {% endblocktrans %}</p>
            </div>
           </div>
      </div>

  </div>

  <div class="quote_pull_wrapper">
     <div class="quote_pull">
     <span class="qstart">“</span>{% trans "Yelp is aimed at the consumer in us. LocalWiki inspires the citizen in us." %}<span class="qend">”</span>
       <span class="author">{% trans "Sue Gardner, Former Executive Director, Wikimedia Foundation" %}</span>
     </div>
  </div>

  <div class="bring_localwiki">
      <a href="{% url 'regions:add' %}" class="button">{% trans "Bring LocalWiki to your community" %}</a>
  </div>
  
  <div class="stats_with_map">
    {% url 'regions:list' as regions_list %}
    {% blocktrans with map_media=map.media page_count=page_count|intcomma %}
    <div>
    <span class="num">{{ page_count }}+</span> pages across <span class="num">{{ region_count }}</span> regions
    {{ map_media }}
    </div>
    <a href="{{ regions_list }}" target="_blank" style="display: inline-block; margin-bottom: 1em;">
    <div id="stats_map">
      {{ map }}
    </div>
    </a>
    <div>
    in <span class="num">{{ countries_count }}</span> countries and <span class="num">{{ languages_count }}</span> languages.
    </div>
    {% endblocktrans %}
  </div>

  <div class="recent_blogs">
    <h2>{% trans "Recent blog posts" %}</h2>
    <ul>
    {% for blog in blogs %}
        <li onclick="location.href='{{ blog.get_absolute_url }}'">
            <h4><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h4>
            <div class="blog_content_wrapper">
            {% if blog.highlight_image %}
                {% thumbnail blog.highlight_image "80" as im %}
                <div class="image_frame image_frame_border">
                    <img src="{{ im.url }}" srcset="{{ im.url|resolution:"2x" }} 2x, {{ im.url|resolution:"1.5x" }} 1.5x" />
                </div>
                {% endthumbnail %}
            {% endif %}
            <div class="blog_content">{{ blog.body|striptags|truncatewords:40|safe }}</div>
            </div>
        </li>
    {% endfor %}
    </ul>
    <p><a class="button" href="/blog/">{% trans "More blog posts" %}</a></p>
  </div>

{% endblock %}

{% block extra_attributions %}
{% trans "Bridge photo CC-BY Stuart Seeger. Janes Walk photo by HiMY SYeD. Notice board photo CC-BY-SA-NC Bettina Walter." %}
{% endblock %}
