{% extends "main_content/base.html" %}

{% load i18n %}
{% load cache %}
{% load cards_tags %}
{% load static %}
{% load thumbnail %}

{% block header_bar_wrapper %}
{% endblock %}

{% block title %}{{ block.super }} - {% trans "The grassroots effort to collect, share and open the world's local knowledge" %}{% endblock %}

{% block head_extra %}
<meta property="og:site_name" content="LocalWiki"/>
<meta property="og:image" content="https://7da2e4f6.ngrok.com{% static 'theme/img/img_fb_share.jpg' %}" />
<meta property="og:title" content="{% trans "Join us and share what you love about where you live." %}"/>
<meta property="og:description" content="{% trans "LocalWiki is a grassroots effort to collect, share and open the world's local knowledge." %}"/>
{% endblock %}

{% block main_wrapper %}
  <div class="callout">
     <div class="tagline">
        <h1>{% blocktrans %}LocalWiki is a grassroots effort to collect, share and <span class="highlight">open the world's local knowledge</span>{% endblocktrans %}</h1>
      </div>
  </div>
  
  <div class="interesting_cards">
      <h2>{% trans "Explore LocalWiki communities" %}</h2>
      {% cache 300 int_main_regions request.META.HTTP_HOST %}
          <div class="cards">
          {% for region in regions_for_cards %}
            {% show_card region %}
          {% endfor %}
          </div>

          <div class="explore_more">
            <a class="button" href="{% url 'regions:list' %}"><i class="fa fa-globe"></i> {% trans "Explore all communities" %}</a>
          </div>
      {% endcache %}
  </div>

  <div class="bring_localwiki">
      <a href="{% url 'regions:add' %}" class="button">{% trans "Bring LocalWiki to your community" %}</a>
  </div>

  <div class="highlights">
      <div class="item">
        <div>
          <img src="http://localwiki.org/static_old/img/features_context.png"/>
          <div class="description">
            <h2>{% trans "A community knowledge commons" %}</h2>
            <p>{% blocktrans %}What if there was one place to go to learn everything about your community? Whether building transparency, accountability and trust between government and residents, appreciating the beauty and the quirks of a community’s unique history, or helping each other navigate invaluable local resources, each month over 400,000 people around the world use LocalWiki to learn about and improve their community.{% endblocktrans %}</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div>
          <img src="http://localwiki.org/static_old/img/features_character.jpg"/>
          <div class="description">
            <h2>{% trans "Free, open, and non-profit" %}</h2>
            <p>{% blocktrans %}All content on LocalWiki is free for anyone to read, copy and reuse. The code powering the LocalWiki platform is open-source, and our privacy policy is simple and transparent. We are non-commercial, do not run any advertisements, and are a 501(c)(3) non-profit.{% endblocktrans %}</p>
          </div>
        </div>
      </div>
      <div class="item">
          <div>
            <img src="http://localwiki.org/static_old/img/features_community.jpg"/>
            <div class="description">
              <h2>{% trans "A collaborative storytelling tool" %}</h2>
              <p>{% blocktrans %}Everybody holds a piece of the puzzle of what it’s like to live in their community. Unlike a news site or blog, anyone can add or modify pages. LocalWiki is what you and your neighbors make of it. Tell the story of your community, collaboratively!{% endblocktrans %}</p>
            </div>
           </div>
      </div>
      <div class="item">
          <div>
            <img src="http://localwiki.org/static_old/img/features_community.jpg"/>
            <div class="description">
              <h2>{% trans "An API for your city" %}</h2>
              <p>{% blocktrans %}LocalWiki is the universal open local knowledge platform upon which countless civic and locally-relevant applications will be built. In the same way that OpenStreetMap and Wikipedia have transformed the way we think about maps and encyclopedias, LocalWiki changes the way we relate to and engage with local knowledge around the world. [Our API makes it easy to integrate LocalWiki content into lots of other projects{% endblocktrans %}</p>
            </div>
           </div>
      </div>
  </div>

  <div class="quote_pull_wrapper">
     <div class="quote_pull">
     <span class="qstart">“</span>{% trans "Yelp is aimed at the consumer in us. LocalWiki inspires the citizen in us." %}<span class="qend">”</span>
       <span class="author">{% trans "Sue Gardner, Former Executive Director, Wikimedia Foundation" %}</span>
     </div>
  </div>

  <div class="bring_localwiki">
      <a href="{% url 'regions:add' %}" class="button">{% trans "Bring LocalWiki to your community" %}</a>
  </div>

  
  <div class="quote_pull_wrapper">
     <div class="quote_pull">
     <img src="http://mathburritos.org/Screen%20Shot%202014-12-18%20at%203.11.47%20AM.png"/>
     </div>
  </div>

  <div class="recent_blogs">
    <h2>{% trans "Recent blog posts" %}</h2>
    <ul>
    {% for blog in blogs %}
        <li onclick="location.href='{{ blog.get_absolute_url }}'">
            <h4><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h4>
            <div class="blog_content_wrapper">
            {% if blog.highlight_image %}
                {% thumbnail blog.highlight_image "80" as im %}
                <div class="image_frame image_frame_border">
                    <img src="{{ im.url }}" srcset="{{ im.url|resolution:"2x" }} 2x, {{ im.url|resolution:"1.5x" }} 1.5x" />
                </div>
                {% endthumbnail %}
            {% endif %}
            <div class="blog_content">{{ blog.body|striptags|truncatewords:40|safe }}</div>
            </div>
        </li>
    {% endfor %}
    </ul>
    <p><a class="button" href="/blog/">{% trans "More blog posts" %}</a></p>
  </div>

{% endblock %}

{% block attributions %}
{{ block.super }}
<div class="supporters_footer">
<p>
{% blocktrans %}
Supported by
{% endblocktrans %}
<br/>
<a href="http://knightfoundation.org" target="_blank"><img src="{% static 'img/knight-logo-gray.png' %}" style="height: 25px; width: 193px;"></a>
<br/>
and <a href="http://www.patreon.com/localwiki" target="_blank">people like you</a>.
</p>
</div>
{% endblock %}
