.missing_link {
    text-decoration: none;
    border-bottom: 1px dashed;
}

.tag_link:before {
    /* fa boilerplate */
    font-family: FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    content: "\f02b";
    padding-right: 0.3em;
    color: #969696;
    font-weight: normal!important;
    position: absolute;
    margin-left: -1.3em;
    margin-top: 2px;
    text-decoration: none;

    /* Emulate fa-flip-horizontal */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.tag_link {
    padding-left: 1.1em;
}

/* File icons */
.no_icon {
   background: inherit !important;
   padding-left: inherit !important;
}

.file_unknown, a[href^='_files/'] {
    background-image: url(../img/file_icons/document-block.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 16px;
}

.file_pdf, a[href$='.pdf'], a[href$='.PDF'] {
    background: url(../img/file_icons/document-pdf.png) no-repeat;
    background-position: left center;
    padding-left: 16px;
}

.file_audio, a[href$='.mp3'], a[href$='.MP3'], a[href$='.wav'], a[href$='.WAV'],
a[href$='.aif'], a[href$='.AIF'], a[href$='.aiff'], a[href$='.AIFF'],
a[href$='.au'], a[href$='.AU'], a[href$='.mid'], a[href$='.MID'] {
    background: url(../img/file_icons/document-music.png) no-repeat;
    background-position: left center;
    padding-left: 16px;
}

.file_video, a[href$='.mp4'], a[href$='.MP4'], a[href$='.mov'], a[href$='.MOV'],
a[href$='.flv'], a[href$='.FLV'], a[href$='.avi'], a[href$='.AVI'],
a[href$='.wmv'], a[href$='.WMV'] {
    background: url(../img/file_icons/document-film.png) no-repeat;
    background-position: left center;
    padding-left: 16px;
}


.file_image, a[href$='.jpg'], a[href$='.JPG'], a[href$='.jpeg'],
a[href$='.JPEG'], a[href$='.png'], a[href$='.PNG'], a[href$='.gif'],
a[href$='.GIF'] {
    background: url(../img/file_icons/document-image.png) no-repeat;
    background-position: left center;
    padding-left: 16px;
}

.file_html, a[href$='.htm'], a[href$='.HTM'], a[href$='.html'],
a[href$='.HTML'] {
    background: url(../img/file_icons/document-globe.png) no-repeat;
    background-position: left center;
    padding-left: 16px;
}

.file_word, a[href$='.doc'], a[href$='.DOC'], a[href$='.docx'],
a[href$='.DOCX'] {
    background: url(../img/file_icons/document-word.png) no-repeat;
    background-position: left center;
    padding-left: 16px;
}

.file_excel, a[href$='.xls'], a[href$='.XLS'] {
    background: url(../img/file_icons/document-excel.png) no-repeat;
    background-position: left center;
    padding-left: 16px;
}

.file_powerpoint, a[href$='.ppt'], a[href$='.PPT'] {
    background: url(../img/file_icons/document-powerpoint.png) no-repeat;
    background-position: left center;
    padding-left: 16px;
}

.file_text, a[href$='.txt'], a[href$='.TXT'] {
    background: url(../img/file_icons/document-text.png) no-repeat;
    background-position: left center;
    padding-left: 16px;
}
/* Images */
.image_frame {
    display: inline-block;
    vertical-align: top;
    margin-top: 0.5em
    margin-bottom: 0.3em;
    margin-right: 4px;
    line-height: 1;
    width: auto;

    /* Responsive scale of image frame */
    max-width: 100%;
}

.image_frame img {
    display: block; 

    /* Responsive scale of image */
    max-width: 100%;
    width: auto;
    height: auto!important;
}
iframe {
    /* Responsive scale of image */
    max-width: 100%;
}

.image_frame > a {
    line-height: 0;
    display: block;
}

/* outline instead of border b/c we use width 100%
   to deal with responsive resizing, and otherwise
   the border width gets included in the width %
   calculation, causing wonkiness */
.image_frame_border, .image_frame_border img {
    outline: 1px solid #cccccc;
}
.image_frame_border {
    margin-left: 2px;
    margin-top: 1px;
}
.image_frame_border {
    padding: 3px;
}
.image_left {
    float: left;
    clear: left;
    margin-right: 1.1em;
    margin-bottom: 1em;
}
.image_right {
    float: right;
    clear: right;
    margin-left: 1.1em;
    margin-bottom: 1em;
}
.image_caption {
    line-height: 1;
    display: block;
    text-align: center;
    font-size: 80%;
    margin-top: 0.4em;
    margin-bottom: 0.3em;
    /* For responsive scaling */
    max-width: 100%;
}
.image_caption a {
    display: inline;
}

/* External links */
a[href^='http:']:before, a[href^='https:']:before {
    /* fa boilerplate */
    font-family: FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 70%;
    content: "\f08e  ";
    color: #969696;
    font-weight: normal!important;
    position: absolute;
    margin-left: -1.3em;
    margin-top: 2px;
    text-decoration: none;
}
a[href^='http:'], a[href^='https:'] {
    padding-left: 1.1em;
    background: none;
}
a[href*='localwiki.org']:before, a[href*='localwiki.org']:before,
a[href*='localhost']:before, a[href*='localhost']:before {
    content: none;
}
a[href*='localwiki.org'], a[href*='localwiki.org']
a[href*='localhost'], a[href*='localhost'] {
    padding-left: 0;
}

a.region_link[href*='localwiki.org']:before, a.region_link[href*='localwiki.org']:before,
a.region_link[href*='localhost']:before, a.region_link[href*='localhost']:before {
    content: "\f0ac  ";
}
a.region_link[href*='localwiki.org'], a.region_link[href*='localwiki.org'],
a.region_link[href*='localhost'], a.region_link[href*='localhost'] {
    padding-left: 1.5em;
}

a.button[href^='http:'], a.button[href^='https:'] {
    background-color: #DCDCDC !important;
}
a[href^='http://www.facebook.com/']:before, a[href^='https://www.facebook.com/']:before {
    /* fa boilerplate */
    font-family: FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 105%;
    content: "\f082  ";
    color: #36549d;
    font-weight: normal!important;
    position: absolute;
    margin-left: -1.1em;
    margin-top: 0px;
    text-decoration: none;
}
a[href^='http://www.facebook.com/'], a[href^='https://www.facebook.com/'] {
    padding-left: 1.5em;
}
a.button[href^='http://www.facebook.com/']:before, a.button[href^='https://www.facebook.com/']:before {
    margin-left: -0.388em;
    margin-top: 0.05em;
}
a.button.tiny[href^='http://www.facebook.com/'], a.button.tiny[href^='https://www.facebook.com/'] {
    padding: 0.8em;
}

a[href^='http://twitter.com/']:before, a[href^='https://twitter.com/']:before {
    /* fa boilerplate */
    font-family: FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 105%;
    content: "\f099  ";
    color: #0099d2;
    font-weight: normal!important;
    position: absolute;
    margin-left: -1.05em;
    margin-top: 1px;
    text-decoration: none;
}
a[href^='http://twitter.com/'], a[href^='https://twitter.com/'] {
    padding-left: 1.5em;
}
a.button.tiny[href^='http://twitter.com/']:before, a.button.tiny[href^='https://twitter.com/']:before {
    margin-left: -0.4em;
}
a.button.tiny[href^='http://twitter.com/'], a.button.tiny[href^='https://twitter.com/'] {
    padding: 0.8em;
}

/* Mailto links */
a[href^='mailto:']:before {
    /* fa boilerplate */
    font-family: FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 105%;
    content: "\f003  ";
    color: #969696;
    font-weight: normal!important;
    position: absolute;
    margin-left: -1.2em;
    margin-top: 1px;
    text-decoration: none;
}
a[href^='mailto:'] {
    padding-left: 1.5em;
}

/* Behavior we want to be specific to page / editor content */
#content #page h1, .page_editor h1,
#content #page h2, .page_editor h2,
#content #page h3, .page_editor h3,
#content #page h4, .page_editor h4,
#content #page h5, .page_editor h5,
#content #page h6, .page_editor h6 {
    clear: both;
}

/* Making it easier to select a horizontal rule */
hr {
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top-width: 1px;
    border-top-style: groove;
    background: none!important;
    color: rgba(0, 0, 0, 0.1) !important;

    height: 5px;
    margin-top: 2em;
    margin-bottom: 1.5em;
}


hr:hover {
    cursor: default;
}

hr.selected {
    border-color: #318DFD;
    background-color: #318DFD;
    color: #318DFD;
}

/* Page plugins */
.plugin {
    display: block;
    background-color: #E5F0FB;
    border: 1px dashed #318DFD;
    padding: 10px;
    resize: none;
}

.includepage_left {
    float: left;
    clear: left;
    margin-bottom: 1em;
    padding-left: 1em;
    box-sizing: border-box;
}
.includepage_right {
    float: right;
    clear: right;
    margin-bottom: 1em;
    padding-left: 1em;
    box-sizing: border-box;
}
@media screen and (max-width: 700px) {
    .includepage_right, .includepage_left {
        float: none;
        padding-left: 0;
        width: auto!important;
    }
}

.plugin.searchbox{
    display: inline;
}

.searchbox input {
    display: inline;
}

.searchbox input[type="text"], .plugin.searchbox{
    padding: 0;
    height: 30px;
    width: 180px;
    font-size: 15px;
    line-height: 30px;
    background: #ffffff url(../theme/img/magnifying_glass.png) no-repeat 10px 10px;
    padding-left: 30px;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

td, th {
    min-width: 10px;
}

/* Hacks */

.explore #object_actions a.button { padding: 6px 10px; }

/*
====================================
 Autocomplete inside CKeditor
====================================
*/

.cke_dialog .ui-autocomplete {
    position: fixed!important;
    z-index: 3000!important;
    background-color: white;

    top: inherit!important;
    left: inherit!important;

    margin-top: -5px!important;
    display: table;
    border: 1px solid #BFBFBF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
}
.cke_dialog .ui-autocomplete .ui-menu-item {
    font-size: 115%!important;
}
