{% extends "blog/base_blog.html" %}

{% load i18n %}
{% load gravatar %}

{% block title %}{{ object.title }} - {% trans "LocalWiki blog" %}{% endblock %}
{% block body_class %}{{ block.super }} post_detail{% endblock %}
{% block body_id %}post_{{ object.id }}{% endblock %}

{% block content_title %}
  <h2>{{ object.title }}</h2>
{% endblock %}

{% block blog_content %}
    <div class="item">
      <h2 class="title"><a href="{{ object.get_absolute_url }}" title="{% trans "View this object" %}">{{ object.title }}</a></h2>
      <div class="info">
        <div class="date">{{ object.publish|date:"j F Y" }}</div>
        {% if object.author %}
          <div class="user">{% trans "by" %} <a target="_blank" href="{{ object.author.get_absolute_url }}" target="_blank"><img src="{% gravatar_url object.author.userprofile.gravatar_email 25 %}" width="25" height="25"/>{{ object.author.first_name }} {{ object.author.last_name }}</a></div>
        {% endif %}
      </div>
      <div class="body">{{ object.body|safe }}</div>
    </div>
{% endblock %}
