{% load i18n %}

{% if nearby_pagetagset_list %}
  <h2>{% trans "Other nearby pages" %}</h2>
  {% if nearby_map %}
    <div id="map" class="secondary">
      {{ nearby_map }}
      <div class="info"><a class="view tiny button" href="#">{% trans "View" %}</a></div>
    </div>
  {% endif %}
  <div id="pagetagset"{% if nearby_map %} class="has_nearby_map"{% endif %}>
    <ul>
    {% for pagetags in nearby_pagetagset_list %}
      <li><a href="{% url 'pages:show' slug=pagetags.page.pretty_slug region=pagetags.region.slug %}">{{ pagetags.page.name }}</a> <span class="weak">(<a href="{{ pagetags.region.get_absolute_url }}">{{ pagetags.region.slug }}</a>)</span></li>
    {% endfor %}
    </ul>
  </div>
{% endif %}
