{% load i18n %}

{% if map %}
  <div id="map">
    {% if region %}
    <a class="map_cover small" href="{% url 'maps:tagged' tag=tag.slug region=tag.region.slug %}"></a>
    {% else %}
    <a class="map_cover small" href="{% url 'maps:global-tagged' tag=tag_name %}"></a>
    {% endif %}
    {{ map }}
    {% if region %}
    <div class="info"><a class="view tiny button" href="{% url 'maps:tagged' tag=tag.slug region=region.slug %}">{% trans "View" %}</a></div>
    {% else %}
    <div class="info"><a class="view tiny button" href="{% url 'maps:global-tagged' tag=tag_name %}">{% trans "View" %}</a></div>
    {% endif %}
  </div>
{% endif %}
<div id="pagetagset"{% if map %} class="has_map"{% endif %}>
{% if pagetagset_list %}
  <ul>
  {% for pagetags in pagetagset_list %}
    {% if region %}
    <li><a href="{{ pagetags.page.get_absolute_url }}">{{ pagetags.page.name }}</a></li>
    {% else %}
    <li><a href="{{ pagetags.page.get_absolute_url }}">{{ pagetags.page.name }}</a> <span class="weak">(<a href="{{ pagetags.region.get_absolute_url }}">{{ pagetags.region.slug }}</a>)</span></li>
    {% endif %}
  {% endfor %}
  </ul>
{% else %}
  {% blocktrans %}There are no pages with the tag "{{ tag_name }}".{% endblocktrans %}
{% endif %}
</div>
