{% load i18n %}

{% if pagetagset_list %}
  {% if map %}
    <div id="map">
      {% if region %}
      <a class="map_cover small" href="{% url 'maps:tagged' tag=tag.slug region=tag.region.slug %}"></a>
      {% else %}
      <a class="map_cover small" href="{% url 'maps:global-tagged' tag=tag_name %}"></a>
      {% endif %}
      {{ map }}
      {% if region %}
      <div class="info"><a class="view tiny button" href="{% url 'maps:tagged' tag=tag.slug region=region.slug %}"><i class="fa fa-search fa-flip-horizontal"></i> {% trans "View" %}</a></div>
      {% else %}
      <div class="info"><a class="view tiny button" href="{% url 'maps:global-tagged' tag=tag_name %}"><i class="fa fa-search fa-flip-horizontal"></i> {% trans "View" %}</a></div>
      {% endif %}
    </div>
  {% endif %}
<div id="pagetagset"{% if map %} class="has_map"{% endif %}>
  <ul>
  {% for pagetags in pagetagset_list %}
    {% if region %}
    <li><a href="{{ pagetags.page.get_absolute_url }}">{{ pagetags.page.name }}</a></li>
    {% else %}
    <li><a href="{{ pagetags.page.get_absolute_url }}">{{ pagetags.page.name }}</a> <span class="weak">(<a href="{{ pagetags.region.get_absolute_url }}">{{ pagetags.region.slug }}</a>)</span></li>
    {% endif %}
  {% endfor %}
  </ul>
  {% if region %}
  <div class="new_tagged_page">
    <a class="little button start" href="#" onClick="return false;"><i class="fa fa-plus-circle"></i> {% blocktrans %}Add new "{{ tag_name }}"{% endblocktrans %}</a>
    <form method="POST" action="{% url 'tags:add-single' region=region.slug %}">
      <input type="text" name="page_name" class="page_name" placeholder="{% trans 'Name of page' %}"/>
      <input type="hidden" name="tag_slug" value="{{ tag.slug }}"/>
      <input type="hidden" name="next" value="{{ request.path }}"/>
      <input type="submit" name="enter_to_submit"/>
    </form>
  </div>
  {% endif %}
{% else %}
  {% blocktrans %}There are no pages with the tag "{{ tag_name }}".{% endblocktrans %}
{% endif %}
</div>
